* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: sans-serif;
    background-image: url(images/ferrari.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.label {
    border: 2px solid green;
    width: 400px;
    margin: 20px auto;
    padding: 0 7px;
    background-color: rgba(27, 27, 50, 0.8);
    color: antiquewhite;
}

header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px;
    padding-top: 10px;
}


p {
    display: flex;
    justify-content: space-between;
}

.year {
    display: flex;
    justify-content: center;
    font-style: italic;
}


.divider-large {
    border-bottom: 3px solid burlywood;
}

.divider {
    border: 1px solid dodgerblue;
}

.bold {
    font-weight: 750;
}

.heading {
    padding: 10px;
}

.details {
    margin: 10px;
}


.logo {
    display: flex;
    justify-content: center;
}

img {
    width: 150px;
}

.appear {
    font-style: italic;
}
